---
import Layout from '@/layouts/Layout.astro';
// ./src/pages/post/[slug].astro
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import PortableText from "../../components/PortableText.astro";
import { urlForImage } from "@/sanity/lib/url-for-image";
import Blog from "@/components/Blog.astro";
import { Icon } from "astro-icon/components";
export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;
export const prerender = true;
const { data: post } = await loadQuery({
  query: `*[_type == "post" && slug.current == $slug][0]`,
  params,
});
---
<Layout title={post.title}>
  <div class="flex py-5 justify-between">
    <h1>A post about {post.title}</h1>
    <div>Posted: {new Date(post.publishedAt).toDateString()}</div>
  </div>
    <div class="flex">
      <img class="w-1/2 h-[45vh] object-cover float-left object-center" 
        src={urlForImage(post.mainImage).url()} alt={post.mainImage?.alt}>
        <div class="pl-10">
          <PortableText  portableText={post.body} />
  
        </div>

    </div>
    <Blog></Blog>
</Layout>

