---
import { urlForImage } from "@/sanity/lib/url-for-image";
import Stars from "./Stars.astro";

const { section } = Astro.props;
---
<div class="flex w-fit mx-auto pt-20">
    {section.average.toFixed(1)} <Stars stars="3"></Stars>
    <img alt={"social review"} src={section.mainImage?.asset ? urlForImage(section.mainImage?.asset)?.url(): ""} class=" object-cover  w-9 ">
</div>
<div class="flex w-full justify-around">
    {section.reviews} {section.title}
</div>
<div class="swiper mb-10"  data-animate="[&_.swiper-slide]:to:x-0|scrollTrigger.trigger-[&]|opacity-1|ease-back|stagger-0.25">
     <div class="swiper-wrapper my-20">
{
    section.reviewItems.map((review:any, i:Number) => 
    <div class="swiper-slide text-center text-white opacity-0 duration-500 ">
        
        <img alt={"social review"} src={section.mainImage?.asset ? urlForImage(section.mainImage?.asset)?.url(): ""} class="absolute object-cover flex right-0 w-7 ">
        <Stars stars="3"></Stars>
        <span class="mt-5 flex">{review.title}</span>
        
        <div class="text-2xl text-white/50">{review.name} <small>{review.reviewDate}</small></div>
    </div>)
}
    </div>
    <div class="swiper-button-next translate-y-14 "></div>
    <div class="swiper-button-prev translate-y-14 "></div>
    <div class="swiper-pagination"></div>
</div>
