---
import { urlForImage } from "@/sanity/lib/url-for-image";
import { Icon } from "astro-icon/components";

const { page } = Astro.props;

---

<div class="w-full scroll-mt-24" id="services">
    <div 
    data-animate="[&>a]:to:y-0|scrollTrigger.scrub-true|opacity-1|ease-back|stagger-0.25|scrollTrigger.scrub-true|scrollTrigger.start-[top_bottom]|scrollTrigger.end-[-=700]" class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-2 md:gap-10">
    {
		page.sections.map((section:any, i:Number) => 
		section._type == "serviceOffer" && 
        <a href={section.url} 
        class="service-offer w-full hover:shadow-sm opacity-0 rounded-md bg-white/5 text-gray-200 text-center p-5 translate-y-full"
        itemscope itemtype="https://schema.org/Service"
        data-listorder={i} id={`service-offer-${i}`} >
            
            <meta itemprop="serviceType" content={section.serviceType} />
            
            <h2 class="rounded-md whitespace-nowrap flex justify-between p-2 ">
                
                <span>{section.title}</span>
                <span class=" flex">£{section.price}</span>
            </h2>
            <img alt={section.title} src={section.image?.asset ? urlForImage(section.image?.asset)?.url(): ""} class="object-fill text-gray-200 h-20 mx-auto my-5 hidden md:block">
            
        </a> )
	}


    </div>
</div>